body {
    font-family: 'Premier League', 'Arial Narrow', 'Arial', 'sans-serif';
}

header {
    background-color: #6F61C0;
    color: white;
    text-align: center;
    padding: 1px;
}

.image {
    background-color: #8BE8E5;
    font-size: 30px;
}

.center-image {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
}

.input-section {
    background-color: #8BE8E5;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-left: 20px;
    margin-bottom: 6px;
    font-size: 17px;
    font-weight: bold;
    color: #252B48;
}

input {
    padding: 8px;
    border: 2px solid #445069;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    outline: none;
    margin-bottom: 20px;
}

input:focus {
    border-color:  #5B9A8B;
}

button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: #5947cd;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    align-items: center;
}

.button {
    background-color: #8BE8E5;
    color: white;
}

button:hover {
    background-color: #5947cd;
    color: white;
}

button:active {
    transform: translateY(1px);
    background-color: #5947cd;
    color: white;
}

.result-section {
    background-color: #8BE8E5;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

footer {
    background-color: #6F61C0;
    color: white;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1px;
}

.copyright-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}